{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>Brunchworthy</title>

		<link rel="stylesheet" href="{% static "css/style.css" %}">
	</head>

	<body>

		<div class="container">
			<!-- START HERE -->

			<h1>Hi, we’re Brunchworthy.</h1>
			<h2>We help you find the best looking meals and restaurants.</h2>

			<p>Over 80 Million photos are uploaded to Instagram daily, 98% of which are pictures of Breakfast*. Finding a brunch spot worthy of your meticulusly curated feed can be hard. Let us do the legwork. We find the places that have the most photogenic food - so you can show off that Authentic Belgian Waffle with Strawberries chantilly cream🍓 and get all the likes!*Needs Source 😉 ♡
		  <p>Sign up to be the first to get updates &amp; follow us on social media.</p>
			<a href="https://twitter.com/xxxxxxxxxxxxd" target="_blank">
				<img src="{% static "images/twitter.png" %}" alt="Twitter">
			</a>

			<a href="https://www.facebook.com/xxxxxxxxxxx" target="_blank">
				<img src="{% static "images/facebook.png" %}" alt="Facebook">
			</a>

			<!-- END HERE -->
		</div><!-- .container -->

	</body>
</html>
